
<div class="card" >
  <img class="card-img-top" src="assets/images/rotating_card_profile{{person.path}}.png" style="width: 150px">
  <div class="card-body">
    <h5 class="card-title">{{person.nom}}</h5>
    <div class="card-text">
      <div>
        <h3>Informations</h3>
        <ul class="list-group">
          <li class="list-group-item disabled">age : {{person.age}}</li>
          <li class="list-group-item"> Job : {{person.job}}</li>
          <li class="list-group-item">Cin : {{person.cin}}</li>
        </ul>

      </div>

    </div>
    <button class="btn btn-danger"(click)="delete()">Delete</button>
    <button class="btn btn-primary" routerLink='/update/{{person.id}}'>Update</button>
  </div>
</div>
